CurrencyConverter/Info.plist
CurrentConverter.xcodeproj
NetworkManager/Info.plist
NetworkManager/.swiftpm/
CurrentConverterAppTests/Info.plist
build/
Pods/
CurrentConverter.xcworkspace
CurrentConverterAppUITests/Info.plist
fastlane/README.md
fastlane/report.xml
