CurrentConverter.xcworkspace
CurrentConverter.xcodeproj
build/
Pods/
Carthage/
fastlane/README.md
fastlane/report.xml
fastlane/test_output
NetworkManager/Info.plist
NetworkManager/.swiftpm/
CurrentConverterAppTests/Info.plist
CurrentConverterAppUITests/Info.plist
CurrencyConverter/Resources/Info.plist
